# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Deathray

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/DeathRay https://github.com/OpenEngineDK/projects-DeathRay.git
git-dev /projects/DeathRay git@github.com:OpenEngineDK/projects-DeathRay.git

# required extensions
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/SDLImage               https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/SDLFont                https://github.com/OpenEngineDK/extensions-SDLFont.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/OpenGLSelection        https://github.com/OpenEngineDK/extensions-OpenGLSelection.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/DoseCalculation 	 https://github.com/OpenEngineDK/extensions-DoseCalculation.git
git /extensions/CUDA                   https://github.com/OpenEngineDK/extensions-CUDA.git

git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/SDLFont                git@github.com:OpenEngineDK/extensions-SDLFont.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/OpenGLSelection        git@github.com:OpenEngineDK/extensions-OpenGLSelection.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/DoseCalculation 	     git@github.com:OpenEngineDK/extensions-DoseCalculation.git
git-dev /extensions/CUDA                   git@github.com:OpenEngineDK/extensions-CUDA.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries

# project data
any /projects/DeathRay/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
any /projects/DeathRay/data        http://openengine.dk/data/images/slider_bg.png
any /projects/DeathRay/data        http://openengine.dk/data/projects/DeathRay/20-P.tar.gz
